 * {
     background-color: black;
     color: white;
 }
 .flex-box {
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    
    
 }

 .header {
    border: 1px solid;
    border-radius: 2rem;
    padding: 10px;
    margin: 20px;
    display: inline;
 }
 .photos {
     display: flex;
     justify-content:space-between;
     flex-direction: row;
     flex-wrap: wrap;
 }
 @media screen and (min-width: 800px){
     .flex-box {
         flex-direction:row;
     }
 }